/server/play-samples-play-scala-starter-example/target/
server/target/

.idea/
*.class
*.log
*.DS_STORE

bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

